.navContainer {
border-radius: 0px 0px 20px 20px;
background: linear-gradient(145deg, #764d1e, #8c5b23);
box-shadow:  20px 20px 60px #6f481c,
             -20px -20px 60px #976226;
             padding: 20px 40px;
min-width: 100vw;
min-height: auto;
margin-bottom: 50px;
padding: 20px 40px;
}

.navRow {
  display: flex;
  justify-content: flex-end;
}

.navCol {
  display: flex;
}

.navTabs {
  display: flex;
  /* justify-content: flex-end;
  align-items: end; */
}

.navItem {
  margin: 4px;
  font-size: 1.5rem;
}